In [3]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [4]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [5]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [22]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract
import datetime

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
start_date = datetime.date(2017, 6, 1)
end_date = datetime.date(2017, 6, 30)
result = session.query(Measurement.tobs).filter(Measurement.date >= start_date)\
.filter(Measurement.date <= end_date).all()
result

[(79.0,),
 (79.0,),
 (79.0,),
 (79.0,),
 (80.0,),
 (79.0,),
 (79.0,),
 (80.0,),
 (80.0,),
 (77.0,),
 (79.0,),
 (83.0,),
 (80.0,),
 (80.0,),
 (78.0,),
 (79.0,),
 (80.0,),
 (77.0,),
 (80.0,),
 (78.0,),
 (79.0,),
 (80.0,),
 (78.0,),
 (80.0,),
 (80.0,),
 (81.0,),
 (80.0,),
 (79.0,),
 (79.0,),
 (75.0,),
 (76.0,),
 (76.0,),
 (76.0,),
 (78.0,),
 (76.0,),
 (75.0,),
 (75.0,),
 (76.0,),
 (78.0,),
 (75.0,),
 (73.0,),
 (76.0,),
 (76.0,),
 (76.0,),
 (77.0,),
 (76.0,),
 (77.0,),
 (72.0,),
 (77.0,),
 (75.0,),
 (82.0,),
 (77.0,),
 (76.0,),
 (74.0,),
 (73.0,),
 (77.0,),
 (77.0,),
 (77.0,),
 (76.0,),
 (74.0,),
 (81.0,),
 (78.0,),
 (80.0,),
 (79.0,),
 (81.0,),
 (80.0,),
 (81.0,),
 (79.0,),
 (81.0,),
 (78.0,),
 (79.0,),
 (79.0,),
 (75.0,),
 (79.0,),
 (78.0,),
 (80.0,),
 (78.0,),
 (77.0,),
 (78.0,),
 (79.0,),
 (76.0,),
 (80.0,),
 (76.0,),
 (81.0,),
 (79.0,),
 (78.0,),
 (80.0,),
 (80.0,),
 (78.0,),
 (80.0,),
 (81.0,),
 (78.0,),
 (77.0,),
 (78.0,),
 (78.0,),
 (77.0,),
 (76.0,),
 (81.0,),
 (76.0,),
 (82.0,),
 (80.0,),
 (80.0,),
 (79.0,),
 (74.0,),
 (79.0,),
 (81.0,),
 (79.0,),
 (81.0,),
 (78.0,),
 (78.0,),
 (78.0,),
 (77.0,),
 (78.0,),
 (75.0,),
 (81.0,),
 (80.0,),
 (77.0,),
 (80.0,),
 (78.0,),
 (80.0,),
 (77.0,),
 (78.0,),
 (78.0,),
 (80.0,),
 (80.0,),
 (79.0,),
 (82.0,),
 (80.0,),
 (81.0,),
 (81.0,),
 (79.0,),
 (78.0,),
 (75.0,),
 (80.0,),
 (76.0,),
 (76.0,),
 (77.0,),
 (75.0,),
 (75.0,),
 (75.0,),
 (75.0,),
 (72.0,),
 (74.0,),
 (74.0,),
 (74.0,),
 (76.0,),
 (74.0,),
 (75.0,),
 (73.0,),
 (79.0,),
 (75.0,),
 (72.0,),
 (72.0,),
 (74.0,),
 (72.0,),
 (72.0,),
 (77.0,),
 (71.0,),
 (73.0,),
 (76.0,),
 (77.0,),
 (76.0,),
 (76.0,),
 (74.0,),
 (74.0,),
 (77.0,),
 (74.0,),
 (74.0,),
 (79.0,),
 (75.0,),
 (72.0,),
 (76.0,),
 (74.0,),
 (73.0,),
 (74.0,),
 (77.0,),
 (74.0,),
 (72.0,),
 (77.0,),
 (76.0,),
 (74.0,),
 (75.0,),
 (76.0,),
 (71.0,),
 (73.0,),
 (79.0,),
 (79.0,),
 (74.0,),
 (74.0,),
 (76.0,),
 (75.0,)]

In [23]:
#  3. Convert the June temperatures to a list.
result = [entry[0] for entry in result]
result

[79.0,
 79.0,
 79.0,
 79.0,
 80.0,
 79.0,
 79.0,
 80.0,
 80.0,
 77.0,
 79.0,
 83.0,
 80.0,
 80.0,
 78.0,
 79.0,
 80.0,
 77.0,
 80.0,
 78.0,
 79.0,
 80.0,
 78.0,
 80.0,
 80.0,
 81.0,
 80.0,
 79.0,
 79.0,
 75.0,
 76.0,
 76.0,
 76.0,
 78.0,
 76.0,
 75.0,
 75.0,
 76.0,
 78.0,
 75.0,
 73.0,
 76.0,
 76.0,
 76.0,
 77.0,
 76.0,
 77.0,
 72.0,
 77.0,
 75.0,
 82.0,
 77.0,
 76.0,
 74.0,
 73.0,
 77.0,
 77.0,
 77.0,
 76.0,
 74.0,
 81.0,
 78.0,
 80.0,
 79.0,
 81.0,
 80.0,
 81.0,
 79.0,
 81.0,
 78.0,
 79.0,
 79.0,
 75.0,
 79.0,
 78.0,
 80.0,
 78.0,
 77.0,
 78.0,
 79.0,
 76.0,
 80.0,
 76.0,
 81.0,
 79.0,
 78.0,
 80.0,
 80.0,
 78.0,
 80.0,
 81.0,
 78.0,
 77.0,
 78.0,
 78.0,
 77.0,
 76.0,
 81.0,
 76.0,
 82.0,
 80.0,
 80.0,
 79.0,
 74.0,
 79.0,
 81.0,
 79.0,
 81.0,
 78.0,
 78.0,
 78.0,
 77.0,
 78.0,
 75.0,
 81.0,
 80.0,
 77.0,
 80.0,
 78.0,
 80.0,
 77.0,
 78.0,
 78.0,
 80.0,
 80.0,
 79.0,
 82.0,
 80.0,
 81.0,
 81.0,
 79.0,
 78.0,
 75.0,
 80.0,
 76.0,
 76.0,
 77.0,
 75.0,
 75.0,
 75.0,
 75.0,
 72.0,
 74.0,
 74.0,
 74.0,
 76.0,
 74.0,
 75.0,
 73.0,
 79.0,
 75.0,
 72.0,
 72.0,
 74.0,
 72.0,
 72.0,
 77.0,
 71.0,
 73.0,
 76.0,
 77.0,
 76.0,
 76.0,
 74.0,
 74.0,
 77.0,
 74.0,
 74.0,
 79.0,
 75.0,
 72.0,
 76.0,
 74.0,
 73.0,
 74.0,
 77.0,
 74.0,
 72.0,
 77.0,
 76.0,
 74.0,
 75.0,
 76.0,
 71.0,
 73.0,
 79.0,
 79.0,
 74.0,
 74.0,
 76.0,
 75.0]

In [24]:
# 4. Create a DataFrame from the list of temperatures for the month of June.
import pandas as pd

df = pd.DataFrame(result, columns=['June Temps'])
df.head(10)

   June Temps
0        79.0
1        79.0
2        79.0
3        79.0
4        80.0
5        79.0
6        79.0
7        80.0
8        80.0
9        77.0

In [21]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df.describe()

       June Temps
count  194.000000
mean    75.175258
std      3.421996
min     64.000000
25%     73.000000
50%     75.500000
75%     78.000000
max     81.000000

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.

In [9]:
# 7. Convert the December temperatures to a list.

In [10]:
# 8. Create a DataFrame from the list of temperatures for the month of December.

In [11]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.